$container-max-width: 1280px;
$container-min-width: 368px;

.container {
  display: flex;
  flex-direction: column;
  max-width: $container-max-width;
  min-width: $container-min-width;
  margin: 0 auto;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  width: 100%;
  overflow: auto;
  &-container {
    flex-direction: column;
    flex-grow: 1;
    padding: 0 1rem;
  }
}