$nav-logo-svg-color: #ff7b00;
$nav-logo-svg-color: #aaff00;
$nav-logo-title-color: #e6e202;
$nav-logo-subtitle-color: #aaff00;
$nav-background-color: #ffffff11;
$nav-menu-btn-color: #ddd;
$nav-menu-btn-hover-color: #fff;
$nav-link-text: #ddd;
$nav-link-text-hover: #fff;
$nav-link-text-desktop: #ccc;
$nav-link-text-hr: #ffffff33;
$nav-links-background: #1b2929;
$nav-links-background-hover: #5e7e7e;


.nav {
  background-color: $nav-background-color;
  padding: 0 1rem;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;

  & .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-spacer {
    min-width: 1rem;
  }
  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
    min-width: 15rem;
    
    &-svg {
      width: 4.2rem;
      height: 3rem;
      fill: $nav-logo-svg-color;
    }
    
    &-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 3.5rem;

      &-title {
        color: $nav-logo-title-color;
        @include fontTitle;
        font-size: 1.1rem;
        letter-spacing: 1px;
        padding-left: .5rem;
      }
      &-name{
        color: $nav-logo-subtitle-color;
        @include fontSubTitle;
        font-size: 1.2rem;
        letter-spacing: 2.4px;
        letter-spacing: 4px;
        margin-left: -.2rem;
        display: flex;
      }
    }
  }

  &-menu {
    &-btn {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      
      & rect {
        stroke: $nav-menu-btn-color;
        stroke-width: 0.2rem;
        fill: none;
      }
      &:hover rect {
        stroke: $nav-menu-btn-hover-color;
      }
      & line {
        stroke: $nav-menu-btn-color;
        stroke-width: .4rem;
        fill: none;
      }
      &:hover line {
        stroke: $nav-menu-btn-hover-color;
      }
    }
  }

  &-links {
    display: block;
    position: absolute;
    top: 3.5rem;
    right: -1rem;
    
    &.hidden {
      display: none;
    }

    &-item {
      display: block;
      text-decoration: none;
      @include fontNormal;
      color: $nav-link-text;
      background-color: $nav-links-background;
      border-top: 1px solid $nav-links-background-hover;
      padding: .75rem 2rem;
      text-align: center;
      
      &:hover {
        background-color: $nav-links-background-hover;
        color: $nav-link-text-hover;
      }

      & hr {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 50rem){
  .nav-menu-btn {
    display: none;
  }

  .nav-links {
    position: static;
    display: flex;
    justify-content: space-between;
    min-width: 33rem;
    max-width: 37rem;
    flex-grow: 1;

    &.hidden {
      display: flex;
    }

    &-item {
      background-color: transparent;
      border: none;
      padding: 0;
      // margin-left: 1.5rem;
      color: $nav-link-text-desktop;

      &:hover {
        background-color: transparent;

        & hr {
          background-color: $nav-link-text-hover;
        }
      }

      & hr {
        display: block;
        margin-top: 0.2rem;
        height: 3px;
        background-color: transparent;
        border: none;
      }
    }
  }

}