</div>
<footer class="footer">
  <div class="container">
    <span class="footer-cc">&copy;2020 Miguel Cisneros</span>
    <span class="footer-links">
      <a href="https://github.com/mcisne4/" target="_blank">
        <%- include("../svg/footer_github.ejs") %>
      </a>
      <a href="">
        <%- include("../svg/footer_linkedin.ejs") %>
      </a>
      <a href="">
        <%- include("../svg/footer_gmail.ejs") %>
      </a>
    </span>
  </div>
</footer>
</div>