<nav class="nav">
  <div class="container">
    <a class="nav-logo" href="/">
      <%- include("../svg/nav_logo.ejs") -%>
      <div class="nav-logo-description">
        <h4 class="nav-logo-description-title">PORTFOLIO</h4>
        <h4 class="nav-logo-description-name">iguel&nbspCisneros</h4>
      </div>
    </a>
    <!-- <div class="nav-spacer"></div> -->
    <%- include("../svg/nav_menu_btn.ejs") %>
    <div class="nav-links hidden">
      <a href="/" class="nav-links-item">
        <span>Home</span>
        <hr>
      </a>
      <a href="/" class="nav-links-item">
        <span>My Works</span>
        <hr>
      </a>
      <a href="/" class="nav-links-item">
        <span>Code Snippets</span>
        <hr>
      </a>
      <a href="/" class="nav-links-item">
        <span>About Myself</span>
        <hr>
      </a>
      <a href="/" class="nav-links-item">
        <span>Contact</span>
        <hr>
      </a>
    </div>
  </div>
</nav>

<div class="body-container">
