<nav class="nav">
  <div class="container">
    <a class="nav-logo" href="/">
      <%- include("../svg/nav_logo.ejs") -%>
      <div class="nav-logo-description">
        <h4 class="nav-logo-description-title">PORTFOLIO</h4>
        <h4 class="nav-logo-description-name">
          iguel&nbspCisneros
          <!-- <span></span>
          <span>i</span>
          <span>g</span>
          <span>u</span>
          <span>e</span>
          <span>l</span>
          <span>&nbsp</span>
          <span>C</span>
          <span>i</span>
          <span>s</span>
          <span>n</span>
          <span>e</span>
          <span>r</span>
          <span>o</span>
          <span>s</span> -->
        </h4>
      </div>
    </a>
    <a href="/someroute">SomeRoute</a>
    This is the Navbar
  </div>
</nav>
